<%%= form_for(@<%= singular_table_name %>) do |f| %>
<div class="row">
<%% if @<%= singular_table_name %>.errors.any? %>
  <div>
    <div>
      <h3>
        <%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h3>
    </div>
    <div class="nine columns" >
      <ul>
        <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
        <%% end %>
      </ul>
    </div>
  </div>
  <%% end %>
    <%- attributes.each do |attribute| -%>
      <div class="nine columns">
      <%- if attribute.password_digest? -%>
        <%%= f.label :password %>
        <%%= f.password_field :password %>
      </div>
      <div>
        <%%= f.label :password_confirmation %>
        <%%= f.password_field :password_confirmation %>
      <%- else -%>
      <%- if attribute.reference? -%>
        <%%= f.label :<%= attribute.column_name %> %>
        <%%= f.collection_select :<%= attribute.column_name %>, <%= attribute.name.camelize %>.all, :id, :name, {prompt: true}, { class: "form-control"}  %>
      <%- elsif  attribute.type == :boolean -%>
        <div class="checkbox">
          <label>
            <%%=  check_box_tag "<%= singular_table_name %>", @<%= singular_table_name %>.<%= attribute.name %>, @<%= singular_table_name %>.<%= attribute.name %> %><%= attribute.name.camelize %>
          </label>
        </div>
      <% else -%>
        <%%= f.label :<%= attribute.name %> %>
        <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: "form-control" %>
      <%- end -%>
      <%- end -%>
      </div>
      <%- end -%>
      <hr />
      <div class="nine columns">
        <%%= f.submit class: "button button-primary" %>
      </div>
  </div>
<%% end %>
