<h1><%= singular_table_name.titleize %></h1>

<dl>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
  <dt><strong><%= attribute.human_name %>:</strong></dt>
  <dd><%- if attribute.reference? -%><%%= @<%= singular_table_name %>.<%= attribute.name %>.name %><%- elsif  attribute.type == :boolean -%><%%=  check_box_tag "<%= singular_table_name %>", @<%= singular_table_name %>.<%= attribute.name %>, @<%= singular_table_name %>.<%= attribute.name %> %><% else -%><%%= @<%= singular_table_name %>.<%= attribute.name %> %><%- end -%></dd>
<% end -%>
</dl>

<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "button button-primary" %>
<%%= link_to 'Back', <%= index_helper %>_path, class: "button" %>
