<article class="panel panel-default">
  <header class="panel-heading">
    <h3>Editing <%= singular_table_name.titleize %></h3>
  </header>
  <section class="panel-body">
    <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </section>
  <footer class="panel-footer">
  </footer>
</article>
<%%= link_to 'Show', @<%= singular_table_name %>, class: "btn btn-default" %>
<%%= link_to 'Back', <%= index_helper %>_path, class: "btn btn-default" %>
