<h1><%= plural_table_name.titleize %></h1>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
      <% end -%>
      <th></th>
    </tr>
  </thead>
  <tfoot>
  <tr>
  </tr>
  </tfoot>
  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr><% attributes.reject(&:password_digest?).each do |attribute| %>
      <td><% if attribute.reference? -%>
        <%%= <%= singular_table_name %>.<%= attribute.name %>.name %>
        <% elsif attribute.kind_of?(TrueClass) %>
        <%%=  check_box_tag "<%= singular_table_name %>",
        <%= singular_table_name %>.<%= attribute.name %>, <%= singular_table_name %>.<%= attribute.name %> %>
        <% else %>
        <%%= <%= singular_table_name %>.<%= attribute.name %> %>
      <% end %></td>
      <% end %>
      <td>
        <%%= link_to 'Show', <%= singular_table_name %> %> / <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %> / <%%= link_to 'Delete', <%= singular_table_name %>,
        method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <%% end %>
  </tbody>
</table>
<br>
<%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path %>
